body {
    font-family: Arial, sans-serif;
    background-color: #C4E4FF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    color: #D20062;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #D895DA;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    display: block;
    margin: 10px auto;
}

button[type="submit"] {
    background-color: #D6589F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
}

button[type="submit"]:hover {
    background-color: #D20062;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    color: #D20062;
    margin: 10px 0;
}
